In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import io

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

import pickle

In [4]:
test_dataset = pd.read_csv('.\Test.csv')

In [7]:
test_dataset

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [11]:
print(test_dataset.describe())

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4705.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.065684   141.023273                1997.828903
std       4.664849         0.051252    61.809091                   8.372256
min       4.555000         0.000000    31.990000                1985.000000
25%       8.645000         0.027047    94.412000                1987.000000
50%      12.500000         0.054154   141.415400                1999.000000
75%      16.700000         0.093463   186.026600                2004.000000
max      21.350000         0.323637   266.588400                2009.000000

In [19]:
median_visibility = test_dataset['Item_Visibility'].median()

# Correction des valeurs aberrantes (remplacement par la médiane)
test_dataset.loc[test_dataset['Item_Visibility'] > 0.193, 'Item_Visibility'] = median_visibility

# Vérification après correction
print(test_dataset.describe())  # Pour voir si les valeurs aberrantes ont disparu

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4705.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.061917   141.023273                1997.828903
std       4.664849         0.044305    61.809091                   8.372256
min       4.555000         0.000000    31.990000                1985.000000
25%       8.645000         0.027047    94.412000                1987.000000
50%      12.500000         0.054154   141.415400                1999.000000
75%      16.700000         0.089466   186.026600                2004.000000
max      21.350000         0.192767   266.588400                2009.000000

In [23]:
# Fonction pour détecter les outliers avec la méthode IQR
def detect_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return data[(data[column] < lower_bound) | (data[column] > upper_bound)]
# Correction des valeurs aberrantes pour chaque colonne
columns_to_check = ['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year']

for col in columns_to_check:
    print(f"\n🔍 Détection des outliers dans {col}:")
    outliers = detect_outliers_iqr(test_dataset, col)
    print(outliers)

    # Remplacer les outliers par la médiane pour les colonnes numériques
    if col in ['Item_Weight', 'Item_MRP']:  # Remplacer par la médiane pour ces colonnes
        median_value = test_dataset[col].median()
        test_dataset.loc[test_dataset[col] < test_dataset[col].quantile(0.25) - 1.5 * (test_dataset[col].quantile(0.75) - test_dataset[col].quantile(0.25)), col] = median_value
        test_dataset.loc[test_dataset[col] > test_dataset[col].quantile(0.75) + 1.5 * (test_dataset[col].quantile(0.75) - test_dataset[col].quantile(0.25)), col] = median_value
    elif col == 'Item_Visibility':  # La correction de Item_Visibility a déjà été faite
        pass
    elif col == 'Outlet_Establishment_Year':  # Corriger les années (si nécessaire)
        # Vérifier si des années sont en dehors de la plage attendue (1985-2009)
        test_dataset.loc[test_dataset[col] < 1985, col] = 1985
        test_dataset.loc[test_dataset[col] > 2009, col] = 2009

# Vérifier après correction
print("\n🔧 Statistiques après correction :")
print(test_dataset.describe())

🔍 Détection des outliers dans Item_Weight:
Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type]
Index: []

🔍 Détection des outliers dans Item_Visibility:
     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
134            DRI49       14.150          Low Fat         0.183793
172            NCP14        8.275          Low Fat         0.184602
403            FDT50          NaN          Regular         0.189512
473            FDH28       15.850          Regular         0.184169
1042           FDP08       20.500          Regular         0.188151
1286           FDT01       13.650          Regular         0.184133
1507           FDJ56        8.985               LF         0.183368
1718           FDA31        7.100          Low Fat         0.184137
1835           FDJ56        8.985          Low Fat         0.183403
2404           DRK13       11.800          Low Fat         0.192767
2454           FDJ56        8.985          Low Fat         0.183250
2513           FDT01       13.650          Regular         0.184014
2637           FDJ56        8.985          Low Fat         0.184150
2751           FDT04          NaN          Low Fat         0.187416
2857           FDU13          NaN          Low Fat         0.186650
3144           NCZ18        7.825          Low Fat         0.185913
3163           NCV18          NaN          Low Fat         0.184272
3340           DRM48       15.200          Low Fat         0.188966
3459           NCZ18          NaN          Low Fat         0.185167
3768           FDT24       12.350          Regular         0.186911
3945           FDD52       18.250          Regular         0.184332
4077           NCQ43       17.750          Low Fat         0.186296
4157           DRI49       14.150          Low Fat         0.184545
4192           NCJ31       19.200          Low Fat         0.183398
4546           FDT01          NaN          Regular         0.183276
4561           FDW40          NaN          Regular         0.184096
5205           DRI49       14.150          Low Fat         0.183355
5462           NCE31        7.670          Low Fat         0.184809
5473           FDD52       18.250          Regular         0.183667

                  Item_Type  Item_MRP Outlet_Identifier  \
134             Soft Drinks   81.3276            OUT049
172               Household  106.5306            OUT010
403                   Dairy   97.7752            OUT019
473            Frozen Foods   38.6506            OUT010
1042  Fruits and Vegetables  193.4478            OUT010
1286                 Canned  214.0902            OUT035
1507  Fruits and Vegetables  100.0700            OUT035
1718  Fruits and Vegetables  172.8080            OUT010
1835  Fruits and Vegetables  100.4700            OUT046
2404            Soft Drinks  198.1084            OUT010
2454  Fruits and Vegetables  101.8700            OUT013
2513                 Canned  212.4902            OUT013
2637  Fruits and Vegetables   98.4700            OUT018
2751           Frozen Foods   37.5822            OUT019
2857                 Canned  149.1418            OUT027
3144              Household  252.4698            OUT013
3163              Household   82.7250            OUT019
3340            Soft Drinks   35.9848            OUT010
3459              Household  253.8698            OUT027
3768           Baking Goods   75.6328            OUT017
3945                  Dairy  108.9570            OUT017
4077                 Others  108.1912            OUT010
4157            Soft Drinks   82.1276            OUT017
4192                 Others  239.9196            OUT018
4546                 Canned  210.4902            OUT027
4561           Frozen Foods  140.7812            OUT019
5205            Soft Drinks   80.9276            OUT013
5462              Household   35.2216            OUT035
5473                  Dairy  108.6570            OUT045

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
134                        1999      Medium               Tier 1
172                        1998         NaN               Tier 3
403                        1985       Small               Tier 1
473                        1998         NaN               Tier 3
1042                       1998         NaN               Tier 3
1286                       2004       Small               Tier 2
1507                       2004       Small               Tier 2
1718                       1998         NaN               Tier 3
1835                       1997       Small               Tier 1
2404                       1998         NaN               Tier 3
2454                       1987        High               Tier 3
2513                       1987        High               Tier 3
2637                       2009      Medium               Tier 3
2751                       1985       Small               Tier 1
2857                       1985      Medium               Tier 3
3144                       1987        High               Tier 3
3163                       1985       Small               Tier 1
3340                       1998         NaN               Tier 3
3459                       1985      Medium               Tier 3
3768                       2007         NaN               Tier 2
3945                       2007         NaN               Tier 2
4077                       1998         NaN               Tier 3
4157                       2007         NaN               Tier 2
4192                       2009      Medium               Tier 3
4546                       1985      Medium               Tier 3
4561                       1985       Small               Tier 1
5205                       1987        High               Tier 3
5462                       2004       Small               Tier 2
5473                       2002         NaN               Tier 2

            Outlet_Type
134   Supermarket Type1
172       Grocery Store
403       Grocery Store
473       Grocery Store
1042      Grocery Store
1286  Supermarket Type1
1507  Supermarket Type1
1718      Grocery Store
1835  Supermarket Type1
2404      Grocery Store
2454  Supermarket Type1
2513  Supermarket Type1
2637  Supermarket Type2
2751      Grocery Store
2857  Supermarket Type3
3144  Supermarket Type1
3163      Grocery Store
3340      Grocery Store
3459  Supermarket Type3
3768  Supermarket Type1
3945  Supermarket Type1
4077      Grocery Store
4157  Supermarket Type1
4192  Supermarket Type2
4546  Supermarket Type3
4561      Grocery Store
5205  Supermarket Type1
5462  Supermarket Type1
5473  Supermarket Type1

🔍 Détection des outliers dans Item_MRP:
Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type]
Index: []

🔍 Détection des outliers dans Outlet_Establishment_Year:
Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type]
Index: []

🔧 Statistiques après correction :
       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4705.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.061917   141.023273                1997.828903
std       4.664849         0.044305    61.809091                   8.372256
min       4.555000         0.000000    31.990000                1985.000000
25%       8.645000         0.027047    94.412000                1987.000000
50%      12.500000         0.054154   141.415400                1999.000000
75%      16.700000         0.089466   186.026600                2004.000000
max      21.350000         0.192767   266.588400                2009.000000

In [28]:
# Identifier les lignes où la visibilité est proche de zéro
low_visibility = test_dataset[test_dataset['Item_Visibility'] < 0.05]
print(low_visibility)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDW58       20.750          Low Fat         0.007565
1              FDW14        8.300              reg         0.038428
3              FDQ58        7.315          Low Fat         0.015388
7              FDC48          NaN          Low Fat         0.015782
9              FDA36        5.985          Low Fat         0.005698
...              ...          ...              ...              ...
5670           FDO03       10.395          Regular         0.037092
5672           NCH42        6.860          Low Fat         0.036594
5674           DRL35       15.700          Low Fat         0.030704
5676           FDB58       10.500          Regular         0.013496
5679           FDJ26       15.300          Regular         0.000000

         Item_Type  Item_MRP Outlet_Identifier  Outlet_Establishment_Year  \
0      Snack Foods  107.8622            OUT049                       1999
1            Dairy   87.3198            OUT017                       2007
3      Snack Foods  155.0340            OUT017                       2007
7     Baking Goods   81.0592            OUT027                       1985
9     Baking Goods  186.8924            OUT017                       2007
...            ...       ...               ...                        ...
5670          Meat  229.4352            OUT017                       2007
5672     Household  231.1010            OUT049                       1999
5674   Hard Drinks   43.2770            OUT046                       1997
5676   Snack Foods  141.3154            OUT046                       1997
5679        Canned  214.6218            OUT017                       2007

     Outlet_Size Outlet_Location_Type        Outlet_Type
0         Medium               Tier 1  Supermarket Type1
1            NaN               Tier 2  Supermarket Type1
3            NaN               Tier 2  Supermarket Type1
7         Medium               Tier 3  Supermarket Type3
9            NaN               Tier 2  Supermarket Type1
...          ...                  ...                ...
5670         NaN               Tier 2  Supermarket Type1
5672      Medium               Tier 1  Supermarket Type1
5674       Small               Tier 1  Supermarket Type1
5676       Small               Tier 1  Supermarket Type1
5679         NaN               Tier 2  Supermarket Type1

[2680 rows x 11 columns]

In [35]:
test_dataset.apply(lambda x:sum(x.isnull()))

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [38]:
print(test_dataset.duplicated().sum())

0

In [41]:
#imputing the missing value with mean
test_dataset['Item_Weight']=test_dataset['Item_Weight'].fillna(test_dataset['Item_Weight'].mean())

In [46]:
test_dataset['Item_Weight'].isnull().sum()

0

In [49]:

test_dataset['Outlet_Size'].value_counts()

Outlet_Size
Medium    1862
Small     1592
High       621
Name: count, dtype: int64

In [52]:
test_dataset['Outlet_Size']=test_dataset['Outlet_Size'].fillna(test_dataset['Outlet_Size'].mode()[0])
test_dataset['Outlet_Size'].isna().sum()

0

In [55]:
test_dataset.corr(numeric_only=True)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year
Item_Weight,1.000000,-0.016910,0.045257,0.013548
Item_Visibility,-0.016910,1.000000,-0.005132,-0.048016
Item_MRP,0.045257,-0.005132,1.000000,-0.007233
Outlet_Establishment_Year,0.013548,-0.048016,-0.007233,1.000000